@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>StalkHard - Chatterbot</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @if (Model != null && Model.DateValid)
    {
        var id = Model.Id;
        var token = Model.Token;
        var name = Model.NomeUser;
        var image = Model.ImageUser;

        <div class="container">
            <form class="form-signin">
                <div class="form-signin-heading">
                    <img src="@image" class="img-circle" style="width:70px;margin-left:110px;">
                    <h4 style="text-align:center;"><b>@name</b></h4>
                </div>

                <iframe style="height:450px;width:750px;margin-left:-225px;" src='@string.Format("https://webchat.botframework.com/embed/stalkhard?t={0}&userid={1}", token, id)'></iframe>
            </form>
        </div>
    }
    else
    {
        <div class="container alert alert-danger" role="alert">
            Não foi possível encontrar o Chatterbot ou o tempo limite foi expirado, por favor crie um novo visitando a <a href="/Home/Index" class="alert-link">página inicial</a>
        </div>
    }

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        /*$("#btnCriar").click(function () {

        });*/
    </script>
</body>
</html>
