@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>StalkHard - Parâmetros</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
</head>
<body>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '254366858409178',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=254366858409178";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>

    <div id="fb-root"></div>

    <div class="container">
        <form class="form-signin">
            <img src="~/Images/logo.png" alt="StalkHard" class="img-circle" style="width:100px;margin-left:100px;">
            <h2 class="form-signin-heading" style="text-align:center;">StalkHard</h2>

            <div>
                <div style="float:left;margin-left:20px;">
                    <label for="inputUserFacebook" class="sr-only">Usuário do Facebook</label>
                    <input id="inputUserFacebook" class="form-control" placeholder="/stalkhard" required autofocus>
                </div>
                <div style="float:left;margin-top:6px;">
                    <img src="~/Images/logo-facebook.png" alt="Facebook" @*class="img-circle"*@ style="width:30px;margin-left:5px;">
                </div>
            </div>

            @*<div style="float:left;">
                    <h4 style="text-align:center;">e/ou</h4>
                </div>*@

            <div>
                <div style="float:left;margin-left:20px;margin-bottom:15px;">
                    <label for="inputUserTwitter" class="sr-only">Usuário do Twitter</label>
                    <input id="inputUserTwitter" class="form-control" placeholder="&#64;stalkhard" required>
                </div>
                <div style="float:left;margin-top:6px;">
                    <img src="~/Images/logo-twitter.png" alt="Twitter" @*class="img-circle"*@ style="width:30px;margin-left:5px;">
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Stalkear</button>
            <h5 style="text-align:center;margin-top:50px;">Para informações privilegiadas de seus amigos, entre com as suas redes sociais:</h5>

            @*<button class="btn btn-lg btn-primary btn-block">Entrar com o Facebook</button>
                <button class="btn btn-lg btn-primary btn-block">Entrar com o Twitter</button>*@

            <div class="fb-login-button" data-width="300" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"
                 data-scope="@ViewData["Permissoes"]"></div>

            <div id="status"></div>
        </form>

        @*<div class="fb-like"
                 data-share="true"
                 data-width="450"
                 data-show-faces="true">
            </div>*@
    </div>
</body>
@*<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '254366858409178',
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pt_BR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>*@
</html>
