
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form class="form-signin">
            <img src="~/Images/logo.png" alt="StalkHard" class="img-circle" style="width:100px;margin-left:100px;">
            <h2 class="form-signin-heading" style="text-align:center;">StalkHard</h2>

            <div style="float:left;">
                <label for="inputUserFacebook" class="sr-only">Usuário do Facebook</label>
                <input id="inputUserFacebook" class="form-control" placeholder="Usuário do Facebook" required autofocus>
            </div>
            <div style="float:right;">
                <img src="~/Images/logo-facebook.png" alt="Facebook" @*class="img-circle"*@ style="width:30px;margin-left:5px;">
            </div>

            <label for="inputUserTwitter" class="sr-only">Usuário do Twitter</label>
            <input id="inputUserTwitter" class="form-control" placeholder="Usuário do Twitter" required>

            <button class="btn btn-lg btn-primary btn-block">Entrar com o Facebook</button>
            <button class="btn btn-lg btn-primary btn-block">Entrar com o Twitter</button>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
